<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.online.shopping.ebayandroidapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application


        android:allowBackup="true"
        android:icon="@drawable/ebay"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider<appId>"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:label="EbaySearch"
            android:windowSoftInputMode="stateAlwaysVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="ResultActivity"
            android:parentActivityName=".MainActivity" >
          </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="DetailsActivity"
            android:parentActivityName=".ResultActivity" >
         </activity>

        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name" />

      </application>

</manifest>
